<% title "Listings" %>

<table>
  <tr>
    <th>City</th>
    <th>State</th>
    <th>Name</th>
    <th>Price</th>
  </tr>
  <% for listing in @listings %>
    <tr>
      <td><%= listing.city %></td>
      <td><%= listing.state %></td>
      <td><%= listing.name %></td>
      <td><%= listing.price %></td>
      <td><%= link_to "Show", listing %></td>
      <td><%= link_to "Edit", edit_listing_path(listing) %></td>
      <td><%= link_to "Destroy", listing, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Listing", new_listing_path %></p>
